<button type="button" class="btn btn-outline-primary" (click)="getAllTask()" [disabled]="allTaskButton">All</button>
<button type="button" class="btn btn-outline-primary" (click)="getTaskByStatusFalse()" [disabled]="unfinishedTaskButton">Unfinished</button>
<button type="button" class="btn btn-outline-primary" (click)="getTaskByStatusTrue()" [disabled]="finishedTaskButton">Finished</button>
<app-task-item *ngFor="let task of tasks" [task]="task" (updateTask)="updateTask($event)" (deleteTask)="deleteTask($event)"></app-task-item>
