<!--
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTaskManager" aria-controls="navbarTaskManager" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/home"><i class="bi-house"></i></a>
        
        <div class="collapse navbar-collapse" id="navbarTaskManager">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isLogged()">
                    <a class="nav-link" routerLink="/tasks">Tasks</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isLogged()">
                    <a class="nav-link" routerLink="/otro">otro</a>
                </li>
            </ul>
            <div *ngIf="isLogged()">
                <span class="navbar-text">
                    {{ getUser().displayName }}
                    
                </span>
                <span class="navbar-text">
                    <button class="btn btn-outline-secondary" (click)="logout()">Logout</button>
                </span>
            </div>
            
            <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="!isLogged()">
                <button class="btn btn-outline-primary" routerLink="/login">Login</button>
            </ul>
        </div>
    </div>
</nav>
-->
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarTaskManager" aria-controls="navbarTaskManager" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/home"><i class="bi-house"></i></a>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarTaskManager" aria-labelledby="navbarTaskManagerLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="navbarTaskManagerLabel"><i class="bi-house"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul data-bs-dismiss="offcanvas" class="navbar-nav justify-content-start flex-grow-1 pe-3">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" *ngIf="isLogged()">
                        <a class="nav-link" routerLink="/tasks">Tasks</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" *ngIf="isLogged()">
                        <a class="nav-link" routerLink="/otro">otro</a>
                    </li>
                </ul>
                <div *ngIf="isLogged()">
                    <span class="navbar-text">
                        {{ getUser().displayName }}
                    </span>
                    <span class="navbar-text">
                        <button class="btn btn-outline-secondary" data-bs-dismiss="offcanvas" (click)="logout()">Logout</button>
                    </span>
                </div>
                
                <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="!isLogged()">
                    <button class="btn btn-outline-primary" data-bs-dismiss="offcanvas" routerLink="/login">Login</button>
                </ul>
            </div>
        </div>
    </div>
</nav>