<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col text-start">
                <div *ngIf="task.taskTitle; else noTitle">
                    {{ task.taskTitle }}
                    <span class="badge text-bg-info" *ngIf="task.status">Finished</span>
                    <span class="badge text-bg-info" *ngIf="!task.status">Unfinished</span>
                </div>
                <ng-template #noTitle>
                    Task
                    <span class="badge text-bg-info" *ngIf="task.status">Finished</span>
                    <span class="badge text-bg-info" *ngIf="!task.status">Unfinished</span>
                </ng-template>
            </div>
            <div class="col text-end">
                <small class="text-body-secondary">{{ task.taskModificationDate.seconds * 1000 | date: 'MMM dd, yyyy, h:mm a' }}</small>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{ task.taskDescription }}</p>
        <p><button type="button" class="btn btn-outline-danger" (click)="_deleteTask(task)">Delete</button></p>
        <p><button type="button" class="btn btn-outline-info" (click)="_updateTask(task)">Status</button></p>
    </div>
</div>