<div class="card border-0 shadow mb-3">
    <div class="card-body bg-body-tertiary" [ngClass]="{'rounded-2': !_showNotes, 'rounded-top': _showNotes}">
        <div class="row card-text p-1">
            <div class="col text-light-emphasis text-break">
                {{ task.taskTitle }}
            </div>
            <div class="col-auto align-self-center">
                <input [(ngModel)]="task.status" (click)="updateTask(task)" class="form-check-input m-0" type="checkbox" style="font-size: 2em;" [value]="task.status">
                <!--
                <button type="button" class="btn btn-sm" [ngClass]="{'btn-outline-info': !task.status, 'btn-info': task.status}" (click)="updateTask(task, !task.status)"><i [ngClass]="{'bi-check': !task.status, 'bi-check2': task.status}"></i></button>
                -->
            </div>
        </div>
        <div class="row card-text p-1">
            <div class="col">
                <!--<small *ngIf="!selectedCategory && task.taskDescription" class="text-body-secondary"><i class="bi-sticky"></i></small>-->
                <button *ngIf="task.taskDescription && !_showNotes" class="btn btn-outline-secondary rounded-2 btn-sm" (click)="showNotes()" type="button">
                    <i class="bi-sticky-fill"></i>
                </button>
                <button *ngIf="task.taskDescription && _showNotes" class="btn btn-secondary rounded-2 btn-sm" (click)="showNotes()" type="button">
                    <i class="bi-sticky-fill"></i>
                </button>

                <small *ngIf="task.taskDescription && task.taskDueDate" class="text-body-secondary"> &bull; </small>

                <small *ngIf="task.taskDueDate && ((task.taskDueDate.seconds >= currentDate) || task.status)" class="text-body-secondary"><i class="bi-calendar-event"></i></small>
                <small *ngIf="task.taskDueDate && ((task.taskDueDate.seconds < currentDate) && !task.status)" class="text-danger"><i class="bi-calendar-event"></i></small>
                <small *ngIf="task.taskDueDate">&nbsp;</small>
                <small *ngIf="task.taskDueDate && ((task.taskDueDate.seconds >= currentDate) || task.status)" class="text-body-secondary">{{ task.taskDueDate.seconds * 1000 | date: 'dd/MM/yy' }}</small>
                <small *ngIf="task.taskDueDate && ((task.taskDueDate.seconds < currentDate) && !task.status)" class="text-danger">{{ task.taskDueDate.seconds * 1000 | date: 'dd/MM/yy' }}</small>

                <small *ngIf="(!selectedCategory && task.taskDescription) || (!selectedCategory && task.taskDueDate)" class="text-body-secondary"> &bull; </small>
                <small *ngIf="task.taskCategory != selectedCategory?.name" class="text-body-secondary">{{ task.taskCategory }}</small>
                <!--
                <small class="text-body-secondary text-lowercase"> &bull; {{ task.taskModificationDate.seconds * 1000 | date: 'dd/mm/yy h:mm a' }}</small>
                -->
            </div>
            <!--
            <div *ngIf="!selectedCategory && task.taskDescription" class="col-auto">
                <button class="btn btn-outline-primary rounded-2 btn-sm" (click)="showNotes()" type="button">
                    <i class="bi-sticky-fill"></i>
                </button>
            </div>
            -->
            <!-- Se quita el botón de info, se deja unicamente el boton de editar
            <div *ngIf="!selectedCategory" class="col-auto">
                 Button trigger task info modal 
                <button *ngIf="!selectedCategory" type="button" class="btn btn-outline-secondary rounded-2 btn-sm" data-bs-toggle="modal" attr.data-bs-target="#infoTaskModal{{ task.id }}">
                    <i class="bi-info-lg"></i>
                </button>
            </div>
            -->
            <div class="col-auto">
                <!-- Button trigger task update modal -->
                <button type="button" class="btn btn-outline-secondary rounded-2 btn-sm" data-bs-toggle="modal" attr.data-bs-target="#updateTaskModal{{ task.id }}">
                    <i class="bi-pencil-fill"></i>
                </button>
                <!--
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteTask(task)"><i class="bi-x"></i></button>
                -->
            </div>
        </div>
    </div>
    <div *ngIf="_showNotes" class="card-footer">
        <div class="row px-3 py-2 text-body-secondary">
            {{ task.taskDescription }}
        </div>
        <!--
        <div *ngIf="task.taskDueDate" class="row px-1 pb-2 text-body-secondary">
            <div class="col">
                <small *ngIf="(task.taskDueDate.seconds >= currentDate) || task.status" class="text-body-secondary"><i class="bi-calendar-event"></i></small>
                <small *ngIf="(task.taskDueDate.seconds < currentDate) && !task.status" class="text-danger"><i class="bi-calendar-event"></i></small>
                <small>&nbsp;</small>
                <small *ngIf="(task.taskDueDate.seconds >= currentDate) || task.status" class="text-body-secondary">{{ task.taskDueDate.seconds * 1000 | date: 'dd/MM/yy' }}</small>
                <small *ngIf="(task.taskDueDate.seconds < currentDate) && !task.status" class="text-danger">{{ task.taskDueDate.seconds * 1000 | date: 'dd/MM/yy' }}</small>
            </div>
        </div>
        -->
    </div>
</div>

<app-task-item-update-modal [task]="task" (_deleteTask)="deleteTask($event)"></app-task-item-update-modal>
<app-task-item-info-modal [task]="task"></app-task-item-info-modal>