<div *ngFor="let task of tasks">
    <div *ngIf="selectedCategory == null">
        <app-task-item *ngIf="!task.status" [task]="task" [selectedCategory]="selectedCategory"></app-task-item>
    </div>

    <div *ngIf="selectedCategory != null">
        <app-task-item *ngIf="!task.status && (selectedCategory.id == task.catId)" [task]="task" [selectedCategory]="selectedCategory"></app-task-item>
    </div>
</div>

<button *ngIf="selectedCategory == null" (click)="changeArrow($event)" class="btn bg-secondary-subtle text-dark-emphasis shadow mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFinished" aria-expanded="false" aria-controls="collapseFinished">
    <i class="" [ngClass]="{'bi-caret-right-fill': !arrowDirection, 'bi-caret-down-fill': arrowDirection}"></i>
    Tareas finalizadas
</button>
<div *ngFor="let category of categories">
    <button *ngIf="(selectedCategory != null && selectedCategory.id == category.id) && category.taskCount - category.taskUnfinishedCount" (click)="changeArrow($event)" class="btn bg-secondary-subtle text-dark-emphasis shadow mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFinished" aria-expanded="false" aria-controls="collapseFinished">
        <i class="" [ngClass]="{'bi-caret-right-fill': !arrowDirection, 'bi-caret-down-fill': arrowDirection}"></i>
        Tareas finalizadas
        <span class="badge bg-body text-dark-emphasis">{{ category.taskCount - category.taskUnfinishedCount }}</span>
    </button>
</div>

<div class="collapse" id="collapseFinished">
    <div *ngFor="let task of tasks">
        <div *ngIf="selectedCategory == null">
            <app-task-item *ngIf="task.status" [task]="task" [selectedCategory]="selectedCategory"></app-task-item>
        </div>
    
        <div *ngIf="selectedCategory != null">
            <app-task-item *ngIf="task.status && (selectedCategory.id == task.catId)" [task]="task" [selectedCategory]="selectedCategory"></app-task-item>
        </div>
    </div>
</div>