<div class="card border-0 shadow">
  <div class="card-body bg-body-tertiary" [ngClass]="{'rounded-2': !isShowMore, 'rounded-top': isShowMore}">
    <div class="row card-text p-1">
      <div class="col text-light-emphasis">
        <form (keyup.enter)="addTask()">
          <div class="input-group rounded-2 shadow-sm">
            <span class="input-group-text border-0 bg-dark-subtle" id="basic-addon1"><i class="bi-journal-plus"></i></span>
            <input *ngIf="!selectedCategory" type="text" class="form-control border-0" placeholder="Selecciona una lista" data-bs-toggle="offcanvas" data-bs-target="#categoryTask" aria-controls="categoryTask" (click)="getSelectedCategory(_selectedCategory)" [readonly]="selectedCategory == null">
            <input *ngIf="selectedCategory" [(ngModel)]="taskTitle" (focus)="show()" (blur)="hide()" name="taskTitle" type="text" maxlength="250" class="form-control border-0" id="taskTitle" [placeholder]="getPlaceholder()">
          </div>
        </form>
      </div>
      <div *ngIf="selectedCategory" class="col-auto">
        <button type="button" class="btn btn-secondary border-0 shadow-sm" (click)="addTask()" [disabled]="!taskTitle || selectedCategory == null"><i class="bi-plus"></i></button>
      </div>
    </div>
  </div>
  <div *ngIf="isShowMore" class="card-footer text-body-secondary">
    <div class="row px-1">
      
    </div>
  </div>
</div>

<app-task-list-offcanvas [user]="user" [_selectedCategory]="_selectedCategory" (_addCategory)="addCategory($event)" (_getSelectedCategory)="getSelectedCategory($event)"></app-task-list-offcanvas>




<!--
      <input type="date" class="form-control" id="exampleColorInput">
      <input type="time" class="form-control" id="exampleColorInput">
      
      <div class="dropdown">
        <button class="btn btn-outline-secondary border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi-calendar-event"></i>
        </button>
        <div class="dropdown-menu p-2 mx-0 shadow rounded-3 w-340px">
          <div class="d-grid gap-1">
            <div class="cal">
              <div class="cal-month">
                <button class="btn cal-btn" type="button" control-id="ControlID-39">
                  <i class="bi-arrow-left-short"></i>
                </button>
                <strong class="cal-month-name">June</strong>
                <select class="form-select cal-month-name d-none" control-id="ControlID-40">
                  <option value="January">January</option>
                  <option value="February">February</option>
                  <option value="March">March</option>
                  <option value="April">April</option>
                  <option value="May">May</option>
                  <option selected="" value="June">June</option>
                  <option value="July">July</option>
                  <option value="August">August</option>
                  <option value="September">September</option>
                  <option value="October">October</option>
                  <option value="November">November</option>
                  <option value="December">December</option>
                </select>
                <button class="btn cal-btn" type="button" control-id="ControlID-41">
                  <i class="bi-arrow-right-short"></i>
                </button>
              </div>
              <div class="cal-weekdays text-body-secondary">
                <div class="cal-weekday">Sun</div>
                <div class="cal-weekday">Mon</div>
                <div class="cal-weekday">Tue</div>
                <div class="cal-weekday">Wed</div>
                <div class="cal-weekday">Thu</div>
                <div class="cal-weekday">Fri</div>
                <div class="cal-weekday">Sat</div>
              </div>
              <div class="cal-days">
                <button class="btn cal-btn" disabled="" type="button" control-id="ControlID-42">30</button>
                <button class="btn cal-btn" disabled="" type="button" control-id="ControlID-43">31</button>

                <button class="btn cal-btn" type="button" control-id="ControlID-44">1</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-45">2</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-46">3</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-47">4</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-48">5</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-49">6</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-50">7</button>

                <button class="btn cal-btn" type="button" control-id="ControlID-51">8</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-52">9</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-53">10</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-54">11</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-55">12</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-56">13</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-57">14</button>

                <button class="btn cal-btn" type="button" control-id="ControlID-58">15</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-59">16</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-60">17</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-61">18</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-62">19</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-63">20</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-64">21</button>

                <button class="btn cal-btn" type="button" control-id="ControlID-65">22</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-66">23</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-67">24</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-68">25</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-69">26</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-70">27</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-71">28</button>

                <button class="btn cal-btn" type="button" control-id="ControlID-72">29</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-73">30</button>
                <button class="btn cal-btn" type="button" control-id="ControlID-74">31</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      -->