<div class="card border-0 shadow mb-3">
    <div class="card-body bg-body-tertiary rounded-2">
        <div class="row card-text p-1">
            <div class="col text-light-emphasis placeholder-glow">
                <span class="placeholder col-10"></span>
            </div>
            <div class="col-auto align-self-center">
                <input class="form-check-input m-0" type="checkbox" style="font-size: 2em;" disabled>
            </div>
        </div>
        <div class="row card-text placeholder-glow p-1">
            <div class="col">
                <span class="placeholder col-1"></span>
                &nbsp;
                <span class="placeholder col-3"></span>
                &nbsp;
                <span class="placeholder col-3"></span>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-secondary rounded-2 btn-sm disabled placeholder" style="width: 2.25em;"></button>
            </div>
        </div>
    </div>
</div>
